.color-primary-0 { color: #51835C }	/* Main Primary color */
.color-primary-1 { color: #A0BEA7 }
.color-primary-2 { color: #739D7C }
.color-primary-3 { color: #386842 }
.color-primary-4 { color: #1F562B }

.color-secondary-1-0 { color: #47606E }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #8997A0 }
.color-secondary-1-2 { color: #637885 }
.color-secondary-1-3 { color: #314A58 }
.color-secondary-1-4 { color: #1D3949 }

.color-secondary-2-0 { color: #91A365 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #E2EDC8 }
.color-secondary-2-2 { color: #B5C48F }
.color-secondary-2-3 { color: #718245 }
.color-secondary-2-4 { color: #586C27 }

body{
    background:url("img/bg.png") repeat;
}
#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield form .biginput {
    width: 600px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
    color: #858585;
}
.new_dis_form{
    color:#E2EDC8;
    background:#314A58;
}
.uncollapsed{
    min-height: 2em;
}
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.panel-dark > .panel-heading{
    color: #fffaf5;
    background-color: #4f616d;
}
.panel-dark > form{
    color: #fffaf5;
    background-color: #637885;
    padding:2em;
}