{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-md-6 new_dis_form col-md-offset-1">
                    <h1>Dodaj nową chorobe</h1>

                    <div>
                         <form id="new_dis_form"  method="post">
                             <div class="form-group">
                                 <input type="text" class="form-control" name="form[name]" required="required" placeholder="Nazwa choroby">
                             </div>
                             <div class="form-group">
                                 <input type="text" class="form-control" name="form[othernames]" placeholder="Nazwa lacinska i inne nazwy">
                             </div>
                             <div class="form-group">
                                 <input type="text" class="form-control" name="form[patogenesis]" placeholder="Zwiezly charakterystyka patogenezy">
                             </div>
                             <div class="form-group">
                                 <label for="pato_desc">Opis patogenezy</label>
                                 <textarea class="form-control" rows="3" name="form[p_desc]"></textarea>
                             </div>
                             <div class="form-group">
                                 <label for="epi">Epidemiologia</label>
                                 <textarea class="form-control" rows="3" name="form[epi]"></textarea>
                             </div>
                             <div class="form-group">
                                 <label for="diagno">Diagnostyka</label>
                                 <textarea class="form-control" rows="3" name="form[diagno]"></textarea>
                             </div>
                             <div class="form-group">
                                 <label for="diff">Roznicowanie</label>
                                 <textarea class="form-control" rows="2" name="form[diff]"></textarea>
                             </div>
                             {{ form_widget(form._token) }}
                    <button type="submit" name="form[save]" class="btn btn-default">Zapisz</button>
                    </form>
                </div>

                </div>
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" onclick="$('#czynnik').addClass('uncollapsed');">Dodaj
                        czynnik/przyczyne
                    </button>
                    <div class="" id="czynnik"></div>
                    <button class="btn btn-default btn-block">Dodaj objawy</button>
                    <div class="" id="objawy"></div>
                    <button class="btn btn-default btn-block">Dodaj zmiany anatomo-patologiczne</button>
                    <div class="" id="anapat"></div>
                    <button class="btn btn-default btn-block">Dodaj badania dodatkowe</button>
                    <div class="" id="dodatkowe"></div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}